* {
    list-style-type:none;
    margin:0px;
}

body {
    background-color:#F5F5DC;
    font-family:Arial, Helvetica, sans-serif;
}

.main-header{
    background-color:gold;
    height:10vh;
    line-height:70px;
}

.main-header a {
    text-decoration:none;
    display:inline;
    font-weight:600;
    font-size:20px;
    color:white;
    
}

nav ul li {
    display:inline;
    padding:20px;
}

nav ul{
    margin-left:40px;
}

main .background-image {
    background-image:linear-gradient(rgb(0,0,0,0.6), rgba(0,0,0,0.3)), url('pedro-lastra-Nyvq2juw4_o-unsplash.jpg');
    width:100%;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.center {
    padding-top:100px;
}

.background-image h3 {
    font-weight:600px;
    font-size:30px;
    color:white;
    display:flex;
    justify-content:center;
    text-align:center;
    padding-top:20px;
}


.button, .contacts {
    padding:px;
    border-radius:9px;
    background-color:orange;
    font-size:24px;
    font-weight:300;
    width:250px;
    color:white;
    display:flex;
}

.button a {
    list-style-type:none;
    text-decoration: none;
    color:white;
}

.main-button, .last-button {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding-top:40px;
}

.list {
    padding-top:25px;
}

.list ul li {
    color:white;
    margin-top:25px;
    padding-left:30px;
    font-size:20px;
}

.list ul li:before {
    content:'✓';
    margin:5px;
    color:gold;
}

.foot {
    height:70px;
    background-color:black;
    display:flex;
    justify-content:center;
    text-align:center;
    padding-top:15px;
    color:white;
}