
.our-content, .profile-content-wrapper ol li {
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em; 
    font-weight: 300;
    max-width: 600px;
    margin: auto;
}

.sun {
    background:url(sun.jpg);
}

.image img {
    width:100%;
}

.profile-image-wrapper {
    padding:10px;
}