
body {
    background-image:url(sun.jpg);

}

h1 {
    color:grey;
}

.profile-image-wrapper img{
    width:350px;
    padding-left:25px;
}

li {
    padding:5px;
    font-size:20px;
    font-weight:300;
}